<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prototype GAE/J</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/superhero/bootstrap.css" rel="stylesheet">
    <link href="css/3rd/angular-json-explorer.min.css" rel="stylesheet">
    <link href="css/3rd/jsoneditor.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
  </head>

  <body ng-app="prototype">
    <div class="container" ng-controller="PrototypeCtrl">
      <div class="row">
        <div class="col-md-6">
          <div ng-jsoneditor="onLoad" ng-model="obj.data" options="obj.options"
               style="width: 560px; height: 300px;"></div>
          <button type="button" class="btn btn-primary" ng-click="edit()"><i class="fa fa-check-circle"></i>
            Edit
          </button>
          <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-check-circle"></i>
            Save
          </button>

        </div>
        <div class="col-md-6">
          <json-explorer url="url" collapsed="true"></json-explorer>
        </div>
      </div>
    </div>

    <!--
    Scripts
    ==================================================
    Placed at the end of the document so the pages load faster -->
    <!-- <script src="scripts/app.js"></script> -->
    <script src="scripts/3rd/angular-json-explorer.min.js"></script>
    <script src="scripts/3rd/jsoneditor.min.js"></script>
    <script src="scripts/3rd/ng-jsoneditor.js"></script>
    <script src="scripts/app.js"></script>

  </body>
</html>
